{
	{$ROOMOTE_CADDY_LOCAL_CERTS:}
	{$ROOMOTE_CADDY_GLOBAL_TLS_SNIPPET:import roomote_on_demand_tls}
}

(roomote_proxy) {
	encode zstd gzip
	reverse_proxy {args[0]} {
		header_up -X-Roomote-Forwarded-Host
		header_up -X-Roomote-Public-Host
		lb_try_duration 10s
		lb_try_interval 250ms
	}
}

(roomote_on_demand_tls) {
	on_demand_tls {
		ask http://web:3000/api/caddy/ask
	}
}

(roomote_on_demand_wildcard_tls) {
	tls {
		on_demand
	}
}

{$ROOMOTE_APP_DOMAIN} {
	@artifact_storage {
		path /{$S3_BUCKET_ARTIFACTS:roomote-artifacts} /{$S3_BUCKET_ARTIFACTS:roomote-artifacts}/*
	}

	handle @artifact_storage {
		reverse_proxy minio:9000 {
			# Presigned S3 URLs sign the bucket path and Host header.
			header_up Host {http.request.host}
		}
	}

	@api {
		path /_roomote-api /_roomote-api/*
	}

	handle @api {
		uri strip_prefix /_roomote-api
		import roomote_proxy api:3001
	}

	handle {
		import roomote_proxy web:3000
	}
}

*.{$ROOMOTE_PREVIEW_DOMAIN} {
	{$ROOMOTE_CADDY_WILDCARD_TLS_SNIPPET:import roomote_on_demand_wildcard_tls}

	import roomote_proxy preview-proxy:8081
}
